.bg-container {
    height: 100vh;
   
    background-color: #c1c3c4;
    border-width: 4px;
  }
  .counter-heading {
    font-size: 50px;
    font-family: "Roboto";
    font-weight: 800;
  }
   
  .counter-value {
    font-size: 75px;
    font-weight: 900;
  }
   .ecard{
    width: 50vh;
   }
  .button {
    margin: 8px;
    border-radius: 7px;
    padding: 5px;
    border-width: 2px;
    border-color: black;
    background-color: #f1f5f8;
  }
